{% extends 'base.html' %}

{% block title %}
    Signup Page
{% endblock %}

{% block content %}
<div class="container w-25" id="form-container">
    <form method="POST" class="px-3">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary d-block mx-auto") }}
    </form>
</div>

{% endblock %}
